absl-py==2.1.0
aider-chat==0.48.1
aiohappyeyeballs==2.3.4
aiohttp==3.10.0
aiolimiter==1.1.0
aiosignal==1.3.1
alembic==1.13.1
altair==5.3.0
annotated-types==0.7.0
anthropic==0.28.1
anyio==4.4.0
argcomplete==1.8.1
asgiref==3.8.1
assemblyai==0.26.0
astrapy==1.2.1
astunparse==1.6.3
async-timeout==4.0.3
asyncer==0.0.5
attrs==23.2.0
Authlib==1.3.1
Babel==2.8.0
backoff==2.2.1
bce-python-sdk==0.9.14
bcrypt==4.0.1
beautifulsoup4==4.12.3
bidict==0.23.1
blinker==1.8.2
boto3==1.34.127
botocore==1.34.127
bson==0.5.10
build==1.2.1
cachetools==5.3.3
cassandra-driver==3.29.1
cassio==0.1.8
certifi==2024.7.4
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.3
chromadb==0.5.0
clevercsv==0.8.2
click==8.1.7
cohere==5.5.7
colorama==0.4.4
coloredlogs==15.0.1
colorlog==6.8.2
command-not-found==0.3
ConfigArgParse==1.7
cryptography==42.0.8
dataclasses-json==0.6.7
datasets==2.14.7
dbus-python==1.2.18
deepdiff==7.0.1
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
diff-match-patch==20230430
dill==0.3.7
diskcache==5.6.3
distro==1.9.0
distro-info==1.1+ubuntu0.2
dnspython==2.6.1
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
docstring-parser==0.15
dspy-ai==2.4.9
duckdb==1.0.1.dev167
ecdsa==0.19.0
elastic-transport==8.13.1
elasticsearch==8.14.0
email_validator==2.1.1
emoji==2.12.1
et_xmlfile==2.0.0
exceptiongroup==1.2.1
faiss-cpu==1.8.0
fake-useragent==1.5.1
fastapi==0.111.0
fastapi-cli==0.0.4
fastavro==1.9.4
filelock==3.15.4
filetype==1.2.0
flake8==7.1.0
FLAML==2.1.2
flatbuffers==24.3.25
frozenlist==1.4.1
fsspec==2024.6.1
future==1.0.0
gast==0.6.0
geomet==0.2.1.post1
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.6.6
google-api-core==2.19.1
google-api-python-client==2.136.0
google-auth==2.31.0
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.55.0
google-cloud-bigquery==3.24.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.12.3
google-cloud-storage==2.17.0
google-crc32c==1.5.0
google-generativeai==0.7.1
google-pasta==0.2.0
google-resumable-media==2.7.1
google-search-results==2.4.2
googleapis-common-protos==1.63.2
gotrue==2.4.4
greenlet==3.0.3
grep-ast==0.3.3
groq==0.9.0
grpc-google-iam-v1==0.13.0
grpcio==1.64.1
grpcio-health-checking==1.63.0rc1
grpcio-status==1.62.2
grpcio-tools==1.63.0rc1
grpclib==0.4.8rc1
gunicorn==22.0.0
gyp==0.1
h11==0.14.0
h2==4.1.0
h5py==3.11.0
hpack==4.0.0
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.1
httpx==0.27.0
httpx-sse==0.4.0
huggingface-hub==0.24.5
humanfriendly==10.0
hyperframe==6.0.1
idna==3.7
ijson==3.3.0
importlib_metadata==7.2.1
importlib_resources==6.4.0
jeepney==0.7.1
Jinja2==3.1.4
jiter==0.4.2
jmespath==1.0.1
joblib==1.3.2
jq==1.8.0a2
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
kagglehub==0.2.7
keras==3.4.1
keras-nlp==0.14.0
keyring==23.5.0
kubernetes==30.1.0
langchain==0.2.5
langchain-anthropic==0.1.15
langchain-astradb==0.3.3
langchain-chroma==0.1.1
langchain-cohere==0.1.7
langchain-community==0.2.5
langchain-core==0.2.7
langchain-experimental==0.0.61
langchain-google-genai==1.0.6
langchain-google-vertexai==1.0.5
langchain-groq==0.1.5
langchain-mistralai==0.1.8
langchain-openai==0.1.8
langchain-pinecone==0.1.1
langchain-text-splitters==0.2.1
langchainhub==0.1.20
langdetect==1.0.9
langflow==1.0.0a59
langflow-base==0.0.70
langfuse==2.36.1
langsmith==0.1.77
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
libclang==18.1.1
litellm==1.42.9
livereload==2.6.3
loguru==0.7.2
lxml==5.2.2
Mako==1.3.5
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.3
mccabe==0.7.0
mdurl==0.1.2
metal_sdk==2.5.1
metaphor-python==0.1.23
mkdocs==1.1.2
ml-dtypes==0.3.2
mmh3==4.1.0
monotonic==1.6
more-itertools==8.10.0
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.15
mypy-extensions==1.0.0
namex==0.0.8
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==3.2.1
nltk==3.8.1
numexpr==2.10.0
numpy==1.26.4
oauthlib==3.2.2
onnxruntime==1.18.0
openai==1.37.2
openpyxl==3.1.5
opentelemetry-api==1.25.0
opentelemetry-exporter-otlp-proto-common==1.25.0
opentelemetry-exporter-otlp-proto-grpc==1.25.0
opentelemetry-instrumentation==0.46b0
opentelemetry-instrumentation-asgi==0.46b0
opentelemetry-instrumentation-fastapi==0.46b0
opentelemetry-proto==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-semantic-conventions==0.46b0
opentelemetry-util-http==0.46b0
opt-einsum==3.3.0
optree==0.12.1
optuna==3.6.1
ordered-set==4.1.0
orjson==3.10.0
overrides==7.7.0
packaging==24.1
pandas==2.2.2
parameterized==0.9.0
passlib==1.7.4
pathspec==0.12.1
pgvector==0.2.5
pillow==10.4.0
pinecone-client==3.2.2
pipx==1.0.0
platformdirs==4.2.2
playwright==1.45.0
portalocker==2.8.2
postgrest==0.16.8
posthog==3.5.0
prompt_toolkit==3.0.47
proto-plus==1.24.0
protobuf==4.25.3
psutil==5.9.0
psycopg==3.1.19
psycopg-binary==3.1.19
psycopg2-binary==2.9.9
pyarrow==16.1.0
pyarrow-hotfix==0.6
pyasn1==0.6.0
pyasn1_modules==0.4.0
pyautogen==0.2.29
pycodestyle==2.12.0
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.8.2
pydantic-settings==2.3.3
pydantic_core==2.20.1
pydeck==0.9.1
pyee==11.1.0
pyflakes==3.2.0
Pygments==2.18.0
PyGObject==3.42.1
pyinotify==0.9.6
PyJWT==2.3.0
pymongo==4.7.3
pypandoc==1.13
pyparsing==3.1.2
pypdf==4.2.0
pyperclip==1.8.2
PyPika==0.48.9
pyproject_hooks==1.1.0
pyrsistent==0.18.1
python-apt==2.4.0+ubuntu3
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-engineio==4.9.1
python-iso639==2024.4.27
python-jose==3.3.0
python-magic==0.4.27
python-multipart==0.0.7
python-pptx==0.6.23
python-socketio==5.11.2
pytube==15.0.0
pytz==2024.1
PyYAML==6.0.1
qdrant-client==1.9.1
qianfan==0.3.5
rapidfuzz==3.9.3
realtime==1.0.6
referencing==0.35.1
regex==2024.7.24
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.7.1
rpds-py==0.19.1
rsa==4.9
s3transfer==0.10.1
scipy==1.13.1
SecretStorage==3.3.1
sentry-sdk==2.5.1
shapely==2.0.4
shellingham==1.5.4
simple-websocket==1.0.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sounddevice==0.4.7
soundfile==0.12.1
soupsieve==2.5
SQLAlchemy==2.0.30
sqlmodel==0.0.18
starlette==0.37.2
storage3==0.7.6
streamlit==1.36.0
StrEnum==0.4.15
structlog==24.2.0
supabase==2.5.1
supafunc==0.4.6
sympy==1.13.0rc1
systemd-python==234
tabulate==0.9.0
tenacity==8.4.2
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-text==2.16.1
termcolor==2.4.0
texttable==1.6.4
tiktoken==0.7.0
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
tornado==6.4.1
tqdm==4.66.4
tree-sitter==0.21.3
tree-sitter-languages==1.10.2
typer==0.12.3
types-cachetools==5.3.0.7
types-requests==2.32.0.20240602
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
ubuntu-advantage-tools==8001
ufw==0.36.1
ujson==5.10.0
unattended-upgrades==0.1
uncurl==0.0.11
unstructured==0.14.6
unstructured-client==0.23.5
upstash-vector==0.4.0
uritemplate==4.1.1
urllib3==2.2.2
userpath==1.8.0
uuid6==2024.1.12
uvicorn==0.30.1
uvloop==0.19.0
validators==0.28.3
wadllib==1.3.6
watchdog==4.0.1
watchfiles==0.22.0
wcwidth==0.2.13
weaviate-client==4.7.0b0
websocket-client==1.2.3
websockets==12.0
Werkzeug==3.0.3
wikipedia==1.4.0
wrapt==1.16.0
wsproto==1.2.0
XlsxWriter==3.2.0
xxhash==3.4.1
yarl==1.9.4
youtube-transcript-api==0.6.2
zep-python==2.0.0rc6
zipp==3.19.2
